.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper {
  align-items: baseline;
}

.swiper-slide .clients {
  display: block;
  height: 434px;
  width: 212px;
  object-fit: cover;
  padding: 0 10px;
}

.swiper-slide-prev .clients {
  height: 332px;
  width: 128px;
  opacity: 0.6;
}

.swiper-slide-next .clients {
  height: 332px;
  width: 128px;
  opacity: 0.6;
}

.why .swiper-slide {
  width: 40%;
}

.why .swiper-slide:nth-child(2n) {
  width: 40%;
}

.why .swiper-slide:nth-child(3n) {
  width: 40%;
}

.member .swiper-slide {
  width: 35%;
}

.member .swiper-slide:nth-child(2n) {
  width: 35%;
}

.member .swiper-slide:nth-child(3n) {
  width: 35%;
}

@media (max-width: 768px) {
  .why .swiper-slide {
    width: 80%;
    height: 300px;
  }

  .why .swiper-slide:nth-child(2n) {
    width: 80%;
    height: 300px;
  }

  .why .swiper-slide:nth-child(3n) {
    width: 80%;
    height: 300px;
  }

  .member .swiper-slide {
    width: 55%;
  }

  .member .swiper-slide:nth-child(2n) {
    width: 55%;
  }

  .member .swiper-slide:nth-child(3n) {
    width: 55%;
  }
}

@media (min-width: 1025px) {
  .member .swiper-slide {
    width: 20%;
  }

  .member .swiper-slide:nth-child(2n) {
    width: 20%;
  }

  .member .swiper-slide:nth-child(3n) {
    width: 20%;
  }

  .member .swiper-slide:nth-child(4n) {
    width: 20%;
  }

  .member .swiper-slide:nth-child(5n) {
    width: 20%;
  }
}

/* DESKTOP ABOUT US */
.mySwiperAbout {
  width: 100%;
  height: 100%;
}

.mySwiperAbout .swiper-button-next,
.mySwiperAbout .swiper-button-prev {
  color: #474747;
}

.mySwiperAbout .swiper-pagination-bullet-active {
  background: #474747;
}
