body,
button {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CRITERIO MEDIA QUERIES */
/* base hasta 768px (mobile y tablets) */
/* entre 769px — 1024px pantallas pequeñas y laptops */
/* mayor a 1025px para destktop y pantallas grandes */
